# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

#platformIO?
*.pio
*.pioenvs
*.piolibdeps
*.clang_complete
*.gcc-flags.json
.pio/build/esp32dev/.sconsign311.dblite

wifi_config.h
.pio/build/esp32dev/firmware.bin
.pio/build/esp32dev/firmware.elf
.pio/build/esp32dev/firmware.map
